.search-bar__input {
  width: 100%;
  padding: 8px 72px 10px 20px;
  border: 0;
  color: #333333;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 1px;
  transition: color 0.1s ease-out;

  &:disabled {
    color: #b6b6b6;
  }
}

.search-bar__button-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.search-bar__button {
  float: left;
  // display: inline-block;
  // position: absolute;
  // top: 0;
  // right: 0;
  height: 100%;
  width: 38px;
  border: 0;
  font-size: 0.8em;
  color: #a7a7a7;
  background-color: #ffffff;
  border-left: solid 1px #eeeeee;
  outline: 0;
  transition: background 0.1s ease-out;

  &:disabled {
    background-color: #b2dbff;
  }

  &:active,
  &:focus {
    background-color: #eeeeee;
  }
}
