.progress-indicator {
  margin: 0 auto;
  width: 70px;
  text-align: center;

  > div {
    width: 18px;
    height: 18px;
    background-color: #eeeeee;

    border-radius: 100%;
    display: inline-block;
    animation: progress-indicator-bouncedelay 1.4s infinite ease-in-out both;
  }
}

.progress-indicator__bounce1 {
  animation-delay: -0.32s !important;
}

.progress-indicator__bounce2 {
  animation-delay: -0.16s !important;
}

@keyframes progress-indicator-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
