.search-results-panel__progress-indicator {
  padding-top: 35px;
}

.search-results-panel__content {
  flex: 1;
  overflow: auto;
}

.search-results-panel__empty {
  text-align: center;
  padding-top: 30px;
  color: #676767;
}

.search-results-panel__search-results {
  padding-left: 50px;
}

.search-results-panel__footer {
  bottom: 0;
  width: 350px;
  padding: 5px 0;
  background-color: #ffffff;
  border-top: solid 1px #eeeeee;
  z-index: 2;
}
