.search-results-panel__search-bar-spacer {
  height: 54px;
  background-color: #f7f7f7;
}

.search-results-panel__pager-container {
  position: fixed;
  bottom: 0;
  width: 350px;
  padding: 5px 0;
  border-top: solid 1px #eeeeee;
}
